{% extends 'site/index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="card">
            <div class="body">
                <div class="media-body">
                    <img src="{% static 'images/aboutimage.jpeg' %}" width="100%" height="350px">
                </div>
                Smart Keja is an online platform that gives access to the users who want to quickly find and get a house
                to rent or buy.
                The platform allow the agents and sole house owners to manage and upload houses they want to sell or
                rent easily
                by providing an intuitive dashboard for a collective actions.
                The platform offers connection between the clients and the house owners reducing time a customer
                would have spent to physically find a house to buy or rent.
                Financially this is the way to go. You dont have to spend allot of money to travel to different
                locations, making phone
                call for to different house providers in order to get a house. with this platform to find a house is
                just one click and you
                are done. the rest of money you would have spent you would spent to find a house.
            </div>
        </div>
        </div>
    </div>
{% endblock %}