{% extends 'dashboard/index.html' %}
{% load  staticfiles %}
{% block widgets %}
{% endblock %}
{% block content %}
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #description {
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
        }

        #infowindow-content .title {
            font-weight: bold;
        }

        #infowindow-content {
            display: none;
        }

        #map #infowindow-content {
            display: inline;
        }

        .pac-card {
            margin: 10px 10px 0 0;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            font-family: Roboto;
        }

        #pac-container {
            padding-bottom: 12px;
            margin-right: 12px;
        }

        .pac-controls {
            display: inline-block;
            padding: 5px 11px;
        }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        #title {
            color: #fff;
            background-color: #4d90fe;
            font-size: 25px;
            font-weight: 500;
            padding: 6px 12px;
        }

        #target {
            width: 345px;
        }

        {% comment %}
        start for text area css
        {% endcomment %}

        .textarea-container {
            position: relative;
            width: 50%;
        }

        textarea, .textarea-size {
            min-height: 25px;
            font-family: sans-serif;
            font-size: 14px;
            box-sizing: border-box;
            padding: 4px;
            border: 1px solid;
            overflow: hidden;
            width: 100%;
        }

        textarea {
            height: 100%;
            position: absolute;
            resize: none;
            white-space: normal;
        }

        .textarea-size {
            visibility: hidden;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

        {% comment %} end of text area css {% endcomment %}

        .lbl-input {
            padding-left: 5px;
            color: #000;
        }

        .custom-input {
            height: 45px;

        }

    </style>
    <div class="row clearfix">
        <div class="card">
            <div class="header">
                <h2>
                    Post House by by filling the form below
                </h2>
            </div>
            <div class="container-fluid card body" style="background: #f0f0f0;">
                <div class="col-md-4 body">
                    You have Selected : <span style="color: green;font-weight: bold;" id="location_text"></span>
                    <form method="post" name="create_house_post_form" action="#" style="margin-top: 10px;"
                          onsubmit="return checkLocationSelected()" enctype="multipart/form-data">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="number" id="id_length" name="bedrooms" class="form-control custom-input"
                                       required>
                                <label class="form-label lbl-input">Number of Bedrooms</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control custom-input" id="posting_for" name="posting_for">
                                <option value="">Select Posting Option</option>
                                <option value="rent">For Renting</option>
                                <option value="sale">For Sale</option>
                            </select>
                        </div>
                        <div id="rent_price">

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="number" id="id_rent_price" name="id_rent_price"
                                           class="form-control custom-input">
                                    <label class="form-label lbl-input">Rent Price</label>
                                </div>
                            </div>
                        </div>
                        <div id="sale_price">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="number" id="id_sale_price" name="id_sale_price"
                                           class="form-control custom-input">
                                    <label class="form-label lbl-input">Sale Price</label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="file" id="id_photo" name="primary_img" class="form-control" accept="image/*"
                                       value="Upload photo" required>
                            </div>
                        </div>
                        <div>
                            <input type="hidden" name="location" id="location">
                            <input type="hidden" name="lat" id="lat">
                            <input type="hidden" name="lng" id="lng">

                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Post House</button>
                    </form>
                </div>

                <div class="col-md-8">
                    <input id="pac-input" class="controls" type="text" placeholder="Search your location here"
                           style="margin-top: 10px;">
                    <div id="map"style="height: 520px; width:auto ;" ></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

    <script>
        $(document).ready(function (e) {
            e.preventDefault;
            $('#sale_price').hide();
            $('#rent_price').hide();

            $('#posting_for').on('change', function () {
                var selected_val = $(this).val();
                showPricesDiv(selected_val);
            });

        });

        function showPricesDiv(value) {
            if (value === 'rent'){
                document.getElementById('id_rent_price').setAttribute('required', '');
                document.getElementById('id_sale_price').removeAttribute('required');
                $('#sale_price').hide();
                $('#rent_price').show();
            }
            if (value === 'sale'){
                document.getElementById('id_sale_price').setAttribute('required', '');
                document.getElementById('id_rent_price').removeAttribute('required');
                $('#sale_price').show();
                $('#rent_price').hide();
            }
            if (value !=='rent' && value !== 'sale'){
                 $('#sale_price').hide();
                $('#rent_price').hide();
            }
        }


        function checkLocationSelected() {
            var location = document.forms["create_house_post_form"]["location"].value;

            if (location === '') {
                swal("Select a  location to continue!");
                return false
            } else {
                return true;
            }
        }
    </script>

    <script>

        var marker = false;
        var map;

        function initAutocomplete() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -1.2885962273241198, lng: 36.823039054870605},
                zoom: 13,
                mapTypeId: 'roadmap'
                // mapTypeId: 'hybrid'
            });


            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
                });
            }


            // Create the search box and link it to the UI element.
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();

                if (places.length === 0) {
                    return;
                }

                // Clear out the old markers.
                markers.forEach(function (marker) {
                    marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    // Create a marker for each place.
                    markers.push(new google.maps.Marker({
                        map: map,
                        icon: icon,
                        title: place.name,
                        position: place.geometry.location
                    }));

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });

            //my custom
            var geocoder = new google.maps.Geocoder();
            google.maps.event.addListener(map, 'click', function (event) {
                geocoder.geocode({
                    'latLng': event.latLng
                }, function (results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            document.getElementById('location').value = results[0].formatted_address;
                            document.getElementById('location_text').textContent = results[0].formatted_address;
                            console.log(results[0].geometry.location.lat());
                            console.log(results[0].geometry.location.lng());

                            document.getElementById('lat').value = results[0].geometry.location.lat(); //latitude
                            document.getElementById('lng').value = results[0].geometry.location.lng(); //longitude

                        }
                    }
                });
            });
            //end of my custom


            var marker = false;

            //Listen for any clicks on the map.
            google.maps.event.addListener(map, 'click', function (event) {
                //Get the location that the user clicked.
                var clickedLocation = event.latLng;
                //If the marker hasn't been added.
                if (marker === false) {
                    //Create the marker.
                    marker = new google.maps.Marker({
                        position: clickedLocation,
                        map: map,
                        draggable: true //make it draggable
                    });
                    //Listen for drag events!
                    google.maps.event.addListener(marker, 'dragend', function (event) {

                        var currentLocation = marker.getPosition();
                        //Add lat and lng values to a field that we can save.
                        // document.getElementById('lat').value = currentLocation.lat(); //latitude
                        // document.getElementById('lng').value = currentLocation.lng(); //longitude
                    });
                } else {
                    //Marker has already been added, so just change its location.
                    marker.setPosition(clickedLocation);
                }
                //Get the marker's location.
                //markerLocation();

                var currentLocation = marker.getPosition();
                //Add lat and lng values to a field that we can save.
                document.getElementById('lat').value = currentLocation.lat(); //latitude
                document.getElementById('lng').value = currentLocation.lng(); //longitude

                //console.log("lat "+currentLocation.lat());
                //console.log("lng  "+currentLocation.lng());
            });


        }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC85mWXDYoa_O8r2NYK3ffyNZR2y2xYPxM&libraries=places&callback=initAutocomplete"
            async defer></script>

{% endblock %}